<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoinDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1189},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>CombinedShape.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1094},{133,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,98}}</string>
                <key>sourceSize</key>
                <string>{133,98}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,790}}</string>
                <key>sourceSize</key>
                <string>{750,790}</string>
            </dict>
            <key>block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1076},{304,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,139}}</string>
                <key>sourceSize</key>
                <string>{304,139}</string>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{304,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,139}}</string>
                <key>sourceSize</key>
                <string>{304,139}</string>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1050},{304,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,139}}</string>
                <key>sourceSize</key>
                <string>{304,139}</string>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{304,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,139}}</string>
                <key>sourceSize</key>
                <string>{304,139}</string>
            </dict>
            <key>coinPool.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,133},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
            <key>countBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,515},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>countTimeRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,899},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>goAway.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,268},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iconRobot.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,202},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iconRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,146},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>iconStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,90},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>island_block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{320,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,139}}</string>
                <key>sourceSize</key>
                <string>{320,139}</string>
            </dict>
            <key>island_block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,754},{320,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,139}}</string>
                <key>sourceSize</key>
                <string>{320,139}</string>
            </dict>
            <key>island_block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,754},{320,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,139}}</string>
                <key>sourceSize</key>
                <string>{320,139}</string>
            </dict>
            <key>island_block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{320,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,139}}</string>
                <key>sourceSize</key>
                <string>{320,139}</string>
            </dict>
            <key>island_user_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1157},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>island_user_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1050},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>island_user_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1082},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>island_user_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1082},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>knight_block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,895},{304,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,153}}</string>
                <key>sourceSize</key>
                <string>{304,153}</string>
            </dict>
            <key>knight_block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,788},{304,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,153}}</string>
                <key>sourceSize</key>
                <string>{304,153}</string>
            </dict>
            <key>knight_block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,482},{304,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,153}}</string>
                <key>sourceSize</key>
                <string>{304,153}</string>
            </dict>
            <key>knight_block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,176},{304,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,153}}</string>
                <key>sourceSize</key>
                <string>{304,153}</string>
            </dict>
            <key>knight_user_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,975},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>knight_user_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,975},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>knight_user_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,792},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>knight_user_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,763},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>nameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,366},{147,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,40}}</string>
                <key>sourceSize</key>
                <string>{147,40}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,334},{52,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,30}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>user_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,650},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>user_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,621},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>user_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,508},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>user_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,366},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>yesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{208,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,86}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>yoyoPool.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,90},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamePlist.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee13ee0fa604cc30448ab20deb931647:1/1$</string>
            <key>textureFileName</key>
            <string>gamePlist.png</string>
        </dict>
    </dict>
</plist>
