<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,415},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>addBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,518},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,552},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{38,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_followed.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,552},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{38,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,452},{64,84}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{64,84}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>cionShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,987},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,914},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>coinShow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>countTimeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,272},{104,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,167}}</string>
                <key>sourceSize</key>
                <string>{104,167}</string>
            </dict>
            <key>depositBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{570,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,351}}</string>
                <key>sourceSize</key>
                <string>{570,351}</string>
            </dict>
            <key>depositBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,523},{228,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,96}</string>
            </dict>
            <key>depositCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,629},{210,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,87}}</string>
                <key>sourceSize</key>
                <string>{210,87}</string>
            </dict>
            <key>depositDeposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,718},{208,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,86}}</string>
                <key>sourceSize</key>
                <string>{208,86}</string>
            </dict>
            <key>exitBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,78},{260,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,89}}</string>
                <key>sourceSize</key>
                <string>{260,89}</string>
            </dict>
            <key>exitNor.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,258},{260,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,87}}</string>
                <key>sourceSize</key>
                <string>{260,89}</string>
            </dict>
            <key>exitPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,169},{260,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,87}}</string>
                <key>sourceSize</key>
                <string>{260,89}</string>
            </dict>
            <key>follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,796},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>iconBest.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,592},{220,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{220,62}}</string>
                <key>sourceSize</key>
                <string>{240,82}</string>
            </dict>
            <key>iconChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,132},{28,26}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{130,42}</string>
            </dict>
            <key>iconGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,974},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>iconGameCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,78},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>iconPrompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,132},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>iconText.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,806},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>iconYoYo.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,124},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>iconYoYocoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,928},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,132},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,552},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>icon_rules_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,806},{64,87}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{64,87}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>joinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,435},{258,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,86}}</string>
                <key>sourceSize</key>
                <string>{258,88}</string>
            </dict>
            <key>joinBtnDisables.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,78},{260,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,89}}</string>
                <key>sourceSize</key>
                <string>{260,89}</string>
            </dict>
            <key>joinBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,347},{258,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,86}}</string>
                <key>sourceSize</key>
                <string>{258,88}</string>
            </dict>
            <key>loadIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,910},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,132},{52,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,30}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>nolBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,619},{210,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,87}}</string>
                <key>sourceSize</key>
                <string>{210,89}</string>
            </dict>
            <key>piece.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,895},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>popBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rankIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,862},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>selectedBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,444},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>storeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,796},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>subBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,378},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>theFirstIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,378},{110,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,64}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>unselectedSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,806},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>updateBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,411}}</string>
                <key>sourceSize</key>
                <string>{570,411}</string>
            </dict>
            <key>updateBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,708},{208,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,86}}</string>
                <key>sourceSize</key>
                <string>{208,86}</string>
            </dict>
            <key>waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,166},{104,168}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{104,168}}</string>
                <key>sourceSize</key>
                <string>{114,172}</string>
            </dict>
            <key>yes2Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,656},{208,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,86}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>yesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{304,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{304,74}}</string>
                <key>sourceSize</key>
                <string>{308,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallPlist.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8b4d3fe086ce22e76ca51703ef3260:1/1$</string>
            <key>textureFileName</key>
            <string>hallPlist.png</string>
        </dict>
    </dict>
</plist>
