<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rectangle (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{186,872},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Rectangle_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{702,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{702,84}}</string>
                <key>sourceSize</key>
                <string>{706,84}</string>
            </dict>
            <key>Rectangle_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{710,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,84}}</string>
                <key>sourceSize</key>
                <string>{710,84}</string>
            </dict>
            <key>bg-bets.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,610},{210,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,54}}</string>
                <key>sourceSize</key>
                <string>{210,54}</string>
            </dict>
            <key>btn-join.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,610},{260,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{260,96}}</string>
                <key>sourceSize</key>
                <string>{272,106}</string>
            </dict>
            <key>btn-no.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,610},{220,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{220,97}}</string>
                <key>sourceSize</key>
                <string>{232,107}</string>
            </dict>
            <key>btn-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,610},{260,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{260,97}}</string>
                <key>sourceSize</key>
                <string>{272,107}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{320,80}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,80}}</string>
                <key>sourceSize</key>
                <string>{320,92}</string>
            </dict>
            <key>btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{320,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{320,96}}</string>
                <key>sourceSize</key>
                <string>{332,106}</string>
            </dict>
            <key>coin_pool.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,832},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{116,44}</string>
            </dict>
            <key>count_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,872},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>first.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,822},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon-修改.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,194},{29,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{29,26}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>icon_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,832},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,950},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,932},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>list_high light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{730,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,104}}</string>
                <key>sourceSize</key>
                <string>{730,104}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{606,288}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{606,288}}</string>
                <key>sourceSize</key>
                <string>{750,290}</string>
            </dict>
            <key>player_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,572},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>player_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,572},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>player_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,872},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>player_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,572},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>second.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,944},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>thied.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,280},{634,290}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{634,290}}</string>
                <key>sourceSize</key>
                <string>{750,290}</string>
            </dict>
            <key>yoyo.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,898},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ludoImages.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e46f0633a893e2c6628ad98b99fe8e16:1/1$</string>
            <key>textureFileName</key>
            <string>ludoImages.png</string>
        </dict>
    </dict>
</plist>
