<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,792},{52,30}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,30}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Rectangle (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{710,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,200}}</string>
                <key>sourceSize</key>
                <string>{710,200}</string>
            </dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{710,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,84}}</string>
                <key>sourceSize</key>
                <string>{710,84}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,846},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,311},{704,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,84}}</string>
                <key>sourceSize</key>
                <string>{706,84}</string>
            </dict>
            <key>btn-exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{328,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,86}}</string>
                <key>sourceSize</key>
                <string>{328,96}</string>
            </dict>
            <key>btn-follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,134},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>btn-followed.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,700},{320,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{320,96}}</string>
                <key>sourceSize</key>
                <string>{332,104}</string>
            </dict>
            <key>btn_exit_matching.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,376},{320,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{330,100}</string>
            </dict>
            <key>btn_exit_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{260,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{272,104}</string>
            </dict>
            <key>btn_no .png</key>
            <dict>
                <key>frame</key>
                <string>{{800,409},{220,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{220,96}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>btn_play .png</key>
            <dict>
                <key>frame</key>
                <string>{{168,698},{320,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{330,100}</string>
            </dict>
            <key>btn_play_owner .png</key>
            <dict>
                <key>frame</key>
                <string>{{714,196},{260,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{260,94}}</string>
                <key>sourceSize</key>
                <string>{270,100}</string>
            </dict>
            <key>btn_start_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,100},{260,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{260,94}}</string>
                <key>sourceSize</key>
                <string>{270,100}</string>
            </dict>
            <key>btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,311},{220,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{220,96}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,507},{217,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,130}}</string>
                <key>sourceSize</key>
                <string>{217,130}</string>
            </dict>
            <key>emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,772},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>emojibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,706},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,698},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon-BETS.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,639},{373,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{373,64}}</string>
                <key>sourceSize</key>
                <string>{393,84}</string>
            </dict>
            <key>icon-rule 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,920},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>icon-rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,808},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon-win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{129,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{129,95}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>iconLeave.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,266},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>iconlose.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,728},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>iconwinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,700},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>joinbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,376},{320,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{330,100}</string>
            </dict>
            <key>lewat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{158,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,82}}</string>
                <key>sourceSize</key>
                <string>{160,84}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{710,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,84}}</string>
                <key>sourceSize</key>
                <string>{710,84}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,756},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>tab-me.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,824},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,639},{135,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,59}}</string>
                <key>sourceSize</key>
                <string>{135,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dominoeImage.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:785255a9b2c2df5440811b5d605b15e1:1/1$</string>
            <key>textureFileName</key>
            <string>dominoeImage.png</string>
        </dict>
    </dict>
</plist>
