<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,227},{74,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,36}}</string>
                <key>sourceSize</key>
                <string>{74,36}</string>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{750,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,243}}</string>
                <key>sourceSize</key>
                <string>{750,243}</string>
            </dict>
            <key>countDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,500},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>gameBGPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{750,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,860}}</string>
                <key>sourceSize</key>
                <string>{750,860}</string>
            </dict>
            <key>goAway.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,434},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>godModelBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,860}}</string>
                <key>sourceSize</key>
                <string>{750,860}</string>
            </dict>
            <key>iconD.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,329},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>lewat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{63,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,15}}</string>
                <key>sourceSize</key>
                <string>{63,15}</string>
            </dict>
            <key>lewatBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,366},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>lewatBGMe.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,82},{133,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,66}}</string>
                <key>sourceSize</key>
                <string>{133,66}</string>
            </dict>
            <key>nickNameDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,262},{109,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,34}}</string>
                <key>sourceSize</key>
                <string>{109,34}</string>
            </dict>
            <key>overBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,777},{252,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,80}}</string>
                <key>sourceSize</key>
                <string>{252,80}</string>
            </dict>
            <key>paiDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,206},{54,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,112}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>paiMeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,150},{54,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,112}}</string>
                <key>sourceSize</key>
                <string>{54,112}</string>
            </dict>
            <key>paiStack.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,495},{81,83}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{81,83}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>paiSurplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,150},{44,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>pockerDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,578},{197,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,82}}</string>
                <key>sourceSize</key>
                <string>{197,82}</string>
            </dict>
            <key>pockerPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,303},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{78,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,136}}</string>
                <key>sourceSize</key>
                <string>{78,136}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,434},{90,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,59}}</string>
                <key>sourceSize</key>
                <string>{94,63}</string>
            </dict>
            <key>toastBGLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,298},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamePlist.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a29ff39720b503a0488187b51230b2f:1/1$</string>
            <key>textureFileName</key>
            <string>gamePlist.png</string>
        </dict>
    </dict>
</plist>
