<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bestIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,336},{393,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,68}}</string>
                <key>sourceSize</key>
                <string>{393,68}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{750,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,860}}</string>
                <key>sourceSize</key>
                <string>{750,860}</string>
            </dict>
            <key>btn_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_followed.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>cionShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>exitBtnNor.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,336},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>exitDis.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1944},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>exitPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1852},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,126},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{682,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,542}}</string>
                <key>sourceSize</key>
                <string>{682,542}</string>
            </dict>
            <key>iconInvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1960},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>iconTutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1964},{82,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,210},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,184},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>joinBtnNor.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1944},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>joinBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1852},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>joinDis.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1945},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>noBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,244},{208,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,90}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>playerDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1852},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>popBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,2},{560,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,310}}</string>
                <key>sourceSize</key>
                <string>{560,310}</string>
            </dict>
            <key>rankIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,986}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,986}}</string>
                <key>sourceSize</key>
                <string>{750,986}</string>
            </dict>
            <key>ruleIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,210},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>storeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>theFirstIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1852},{110,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,64}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>yesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1852},{210,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,91}}</string>
                <key>sourceSize</key>
                <string>{210,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:690753f2a7b5fd3f5138ffca2973a450:1/1$</string>
            <key>textureFileName</key>
            <string>hallPlist.png</string>
        </dict>
    </dict>
</plist>
