<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{248,50},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{350,50},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{452,50},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{554,50},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{0,198},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{102,198},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{204,198},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{306,198},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{408,198},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,148}</string>
                <key>spriteSourceSize</key>
                <string>{102,148}</string>
                <key>textureRect</key>
                <string>{{510,198},{102,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1,0},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{19,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{338,0},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{258,0},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{296,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{381,0},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank1_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,165}</string>
                <key>spriteSourceSize</key>
                <string>{648,165}</string>
                <key>textureRect</key>
                <string>{{0,346},{648,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank2_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,175}</string>
                <key>spriteSourceSize</key>
                <string>{658,175}</string>
                <key>textureRect</key>
                <string>{{0,511},{658,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,37}</string>
                <key>spriteSourceSize</key>
                <string>{16,37}</string>
                <key>textureRect</key>
                <string>{{188,0},{16,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{204,0},{27,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{27,38}</string>
                <key>textureRect</key>
                <string>{{231,0},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{161,0},{27,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{174,50}</string>
                <key>textureRect</key>
                <string>{{437,0},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,50}</string>
                <key>spriteSourceSize</key>
                <string>{174,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{174,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>szbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{414,0},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>username_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,34}</string>
                <key>spriteSourceSize</key>
                <string>{109,34}</string>
                <key>textureRect</key>
                <string>{{52,0},{109,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>username_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{174,50},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{686,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c9136e84c0849aa184d1167f5da4e7:f826551119f0ba310ec4da9ce22143e1:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
