<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{300,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,80}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>btn_following.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,80}}</string>
                <key>sourceSize</key>
                <string>{300,80}</string>
            </dict>
            <key>family0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,435},{126,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>family1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,304},{129,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,30}}</string>
                <key>sourceSize</key>
                <string>{129,32}</string>
            </dict>
            <key>family2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,469},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>family3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,304},{129,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,32}}</string>
                <key>sourceSize</key>
                <string>{129,34}</string>
            </dict>
            <key>icon_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{22,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{22,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{16,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{16,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,463},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,129},{17,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{17,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,106},{17,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{17,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,83},{17,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{17,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,60},{17,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{17,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,489},{17,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{17,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,32},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{22,26}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,392},{22,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{22,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,362},{22,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{22,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_num_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,430},{64,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{64,26}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>user_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,304},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,362},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,304},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,234},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,176},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,118},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,60},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>user_level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{18,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,174},{20,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,496},{18,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,60},{20,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,213},{20,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,286},{20,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,286},{20,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,286},{20,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,152},{20,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,194},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>vipgroup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{84,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,31}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerUserPlist.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db435021338d61c045d577d7a258eb9:1/1$</string>
            <key>textureFileName</key>
            <string>playerUserPlist.png</string>
        </dict>
    </dict>
</plist>
