<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,428},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>card0_bg_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>card0_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,286},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>card0_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>card0_bg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,144},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>card1_add2_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{105,103}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>card1_add2_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,685},{105,103}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>card1_add2_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,66},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>card1_add2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{105,103}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>card1_add2_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,641},{105,103}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>card2_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,589},{85,85}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{85,85}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>card3_changeRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,570},{69,113}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{69,113}}</string>
                <key>sourceSize</key>
                <string>{105,131}</string>
            </dict>
            <key>card4_number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,389},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>card4_number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,121},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>card4_number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,538},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>card4_number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,286},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>card4_number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,676},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>card4_number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,487},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>card4_number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,439},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>card4_number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,726},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>card4_number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,338},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>card4_number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>card5_add4_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,570},{116,113}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{116,113}}</string>
                <key>sourceSize</key>
                <string>{120,131}</string>
            </dict>
            <key>card5_add4_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,94},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>card6_changeColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{140,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,184}}</string>
                <key>sourceSize</key>
                <string>{142,212}</string>
            </dict>
            <key>card7_cardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>card8_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,254}}</string>
                <key>sourceSize</key>
                <string>{184,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cards.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b736d0d52ece649d2acb78153b87398b:1/1$</string>
            <key>textureFileName</key>
            <string>Cards.png</string>
        </dict>
    </dict>
</plist>
