<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2018},{25,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,49}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,646},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>Add4Btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1804},{310,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{310,212}}</string>
                <key>sourceSize</key>
                <string>{328,230}</string>
            </dict>
            <key>Add4Btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1804},{310,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{310,212}}</string>
                <key>sourceSize</key>
                <string>{328,230}</string>
            </dict>
            <key>Add4Tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{678,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{678,458}}</string>
                <key>sourceSize</key>
                <string>{686,466}</string>
            </dict>
            <key>Add4Tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,575},{546,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{546,142}}</string>
                <key>sourceSize</key>
                <string>{548,144}</string>
            </dict>
            <key>CardNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,454},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>Center.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1716},{388,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{388,166}}</string>
                <key>sourceSize</key>
                <string>{392,172}</string>
            </dict>
            <key>Clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1076},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>CombinedShape2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1179},{133,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,98}}</string>
                <key>sourceSize</key>
                <string>{133,98}</string>
            </dict>
            <key>GameTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,682},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>ICON_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,802},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Rectangle(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,94},{152,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,53}}</string>
                <key>sourceSize</key>
                <string>{152,53}</string>
            </dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{750,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,90}}</string>
                <key>sourceSize</key>
                <string>{750,90}</string>
            </dict>
            <key>Tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,223},{570,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,350}}</string>
                <key>sourceSize</key>
                <string>{570,350}</string>
            </dict>
            <key>Tipbtn_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1804},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>Tipbtn_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>arr.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,398},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1800}}</string>
                <key>sourceSize</key>
                <string>{750,1800}</string>
            </dict>
            <key>btn_uno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,349},{175,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,190}}</string>
                <key>sourceSize</key>
                <string>{175,194}</string>
            </dict>
            <key>card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1174},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>cardStack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,149},{150,198}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{150,198}}</string>
                <key>sourceSize</key>
                <string>{204,254}</string>
            </dict>
            <key>cardStack_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1716},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{138,187}</string>
            </dict>
            <key>centerImage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1470},{405,392}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{405,392}}</string>
                <key>sourceSize</key>
                <string>{421,418}</string>
            </dict>
            <key>centerImage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1076},{405,392}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{405,392}}</string>
                <key>sourceSize</key>
                <string>{421,418}</string>
            </dict>
            <key>centerImage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1309},{405,392}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{405,392}}</string>
                <key>sourceSize</key>
                <string>{421,418}</string>
            </dict>
            <key>centerImage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,915},{405,392}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{405,392}}</string>
                <key>sourceSize</key>
                <string>{421,418}</string>
            </dict>
            <key>centerImage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,682},{405,392}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{405,392}}</string>
                <key>sourceSize</key>
                <string>{421,418}</string>
            </dict>
            <key>exitBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,332},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon-rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,266},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iconRobot.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,200},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>musicBtn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,134},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>musicBtn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rule_cards1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,94},{590,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,127}}</string>
                <key>sourceSize</key>
                <string>{590,127}</string>
            </dict>
            <key>rule_cards2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1044},{295,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,128}}</string>
                <key>sourceSize</key>
                <string>{295,128}</string>
            </dict>
            <key>rule_cards3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,703},{190,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,127}}</string>
                <key>sourceSize</key>
                <string>{190,127}</string>
            </dict>
            <key>rule_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rule_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2018},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>tab-uno.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,678},{89,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{89,45}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>timeOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,719},{480,194}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{480,194}}</string>
                <key>sourceSize</key>
                <string>{528,194}</string>
            </dict>
            <key>timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,494},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>timeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,802},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>timeoutbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,832},{210,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>userLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,541},{160,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{162,167}</string>
            </dict>
            <key>username.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,835},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39985ad3a3f88e153a4df4275448a1f3:1/1$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
