<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{750,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,161}}</string>
                <key>sourceSize</key>
                <string>{750,161}</string>
            </dict>
            <key>BT.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1274},{750,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,49}}</string>
                <key>sourceSize</key>
                <string>{750,49}</string>
            </dict>
            <key>HPBlue_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,754},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>HPBlue_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1274},{530,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,26}}</string>
                <key>sourceSize</key>
                <string>{530,26}</string>
            </dict>
            <key>HPRed_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,734},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>HPRed_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1086},{530,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,26}}</string>
                <key>sourceSize</key>
                <string>{530,26}</string>
            </dict>
            <key>bullWinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1246},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>coinPool.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1052},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
            <key>gameBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,860}}</string>
                <key>sourceSize</key>
                <string>{750,860}</string>
            </dict>
            <key>gameBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,754},{90,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,650}}</string>
                <key>sourceSize</key>
                <string>{90,650}</string>
            </dict>
            <key>goAway.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,754},{71,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>nomore.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,734},{116,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,316}}</string>
                <key>sourceSize</key>
                <string>{116,316}</string>
            </dict>
            <key>sheepWinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1156},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sheep_mid_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,827},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>sheep_mid_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>sheep_small_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,975},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>sheep_small_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1225},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>speedBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{204,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,115}}</string>
                <key>sourceSize</key>
                <string>{204,115}</string>
            </dict>
            <key>speedDis.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1086},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>speedType.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1052},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>touchShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{133,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,730}}</string>
                <key>sourceSize</key>
                <string>{133,730}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamePlist.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5bc5a858f0bbd44525af8be7a2500ec:1/1$</string>
            <key>textureFileName</key>
            <string>gamePlist.png</string>
        </dict>
    </dict>
</plist>
