<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,864},{672,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,201}}</string>
                <key>sourceSize</key>
                <string>{672,201}</string>
            </dict>
            <key>blueTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{250,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,412}}</string>
                <key>sourceSize</key>
                <string>{250,412}</string>
            </dict>
            <key>btn_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1506},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_followed.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1506},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1506},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>cionShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2005},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1538},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>countDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,421},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>depositBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,294},{560,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,310}}</string>
                <key>sourceSize</key>
                <string>{560,310}</string>
            </dict>
            <key>depositCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,644},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>depositDeposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,644},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>exitBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,644},{250,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,113}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>exitBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,606},{250,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,113}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>exitBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1854},{250,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,113}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>hallBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,860}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,860}}</string>
                <key>sourceSize</key>
                <string>{750,860}</string>
            </dict>
            <key>hallDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{750,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,90}}</string>
                <key>sourceSize</key>
                <string>{750,90}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1506},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>iconBets.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,2},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,48}</string>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2017},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2017},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>icon_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1538},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>icon_rules_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1506},{82,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{82,95}</string>
            </dict>
            <key>img_rule_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{640,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>img_rule_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,850},{640,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,300}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>img_rule_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{640,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,304}}</string>
                <key>sourceSize</key>
                <string>{640,304}</string>
            </dict>
            <key>img_rule_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,864},{640,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,521}}</string>
                <key>sourceSize</key>
                <string>{640,521}</string>
            </dict>
            <key>joinBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1602},{250,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,113}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>joinBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,548},{250,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,113}}</string>
                <key>sourceSize</key>
                <string>{250,113}</string>
            </dict>
            <key>noBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,644},{204,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,113}}</string>
                <key>sourceSize</key>
                <string>{204,113}</string>
            </dict>
            <key>rankIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1506},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>redTeam.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1604},{250,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,411}}</string>
                <key>sourceSize</key>
                <string>{250,411}</string>
            </dict>
            <key>storeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1506},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>storePop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{570,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,290}}</string>
                <key>sourceSize</key>
                <string>{570,290}</string>
            </dict>
            <key>theFirstIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1538},{110,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,64}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>updateBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1603},{560,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,400}}</string>
                <key>sourceSize</key>
                <string>{560,400}</string>
            </dict>
            <key>updateBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1492},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,294},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>yesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,644},{204,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,113}}</string>
                <key>sourceSize</key>
                <string>{204,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallPlist.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c46a5d09375d7f6923b6fad84b62af3:1/1$</string>
            <key>textureFileName</key>
            <string>hallPlist.png</string>
        </dict>
    </dict>
</plist>
